body {
   font-size: 20px;
}

h2 {
   text-align: left;
   margin-left: 7px;
}

.footer-JL {
   position: fixed;
}

#trocar2 .row>* {
   padding-left: 0;
   padding-right: 18px;
}

#aredesocial {
   width: auto;
   height: 300px;
   border-radius: 7%;
   float: left;
   margin-right: 30px;
   margin-bottom: 20px;
   margin-left: 20px;
}

#piratasdovale {
   width: auto;
   height: 300px;
   border-radius: 7%;
   float: left;
   margin-right: 30px;
   margin-bottom: 20px;
   margin-left: 20px;
}

#onepiece {
   height: 100%;
   width: 700px;
   float: left;
   margin-right: 35px;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 5px;
   border-style: double;
   border-radius: 6%;
}

#haikyu {
   height: 100%;
   width: 700px;
   float: left;
   margin-right: 35px;
   margin-top: 15px;
   margin-bottom: 20px;
   margin-left: 5px;
   border-style: double;
   border-radius: 5%;
}

#onepunchman {
   height: 100%;
   width: 700px;
   float: left;
   margin-right: 35px;
   margin-top: 30px;
   margin-bottom: 20px;
   margin-left: 5px;
   border-style: double;
   border-radius: 5%;
}

#trocar1 {
   margin-right: 17px;
   width: 26%;
   height: 33.5%;
   padding: 6px;
   align-items: center;
   display: flex;
   justify-content: center;
}

#trocar1 .input-group-text {
   width: 10%;
   height: 85%;
   align-items: center;
   display: flex;
   justify-content: center;
}

#trocar1 button {
   border-radius: 7px;
   background-color: white;
   width: 100%;
}

#troc1Buuton {
   width: 100%;
}

#trocar1 label {
   font-size: 17px;
}

#trocar1 input {
   margin-bottom: 10px;
}

#trocar2 {
   width: 30%;
   display: flex;
}

#trocar2 label {
   font-size: 14px;
   margin-left: 10.5%;
}

#trocar2 select {
   border-radius: 8px;
   height: 40px;
   margin-bottom: 10px;
   width: 80%;
}


#orgSelect {
   width: 100%;
   align-items: center;
   display: flex;
   justify-content: center;
}

#trocar2 input {
   border-radius: 5px;
}

#trocar2 button {
   border-radius: 7px;
   background-color: white;
   margin: 10px;
}

#resultNotas {
   width: 100%; 
   font-size: 18px;
   margin-top: -1px;
}

#orgResultNotas {
   display: none;
   width: 18%;
   height: 33.1%;
   margin-left: 17px;
   overflow-y: scroll;
   border-radius: 5px;
}

#resultNotas div {
   font-size: 18px;
   align-items: center;
   display: flex;
   justify-content: center;
   height: 10%;
}

#resultNotas table {
   margin: 0px;
}

#tituloBole {
   width: 17%;
   align-items: center;
   display: flex;
   justify-content: center;
   background-color: rgb(255, 187, 61);
   position: fixed;
}

#orgTable {
   height: 40%;
   background-color: rgb(255, 187, 61);
   padding: 5px;
}

#orgTable button {
   border-radius: 4px;
}

#orgTable input {
   margin: 10px;
}

#notas label {
   font-size: 17px;
   margin-left: 5%;
}

html,
body {
   height: 100vh;
}

.centerBole {
   align-items: center;
}

#orgBoletim {
   height: 100vh;
}

.margin-top30px {
   margin-top: 30px;
}

.padding-top {
   padding-top: 70px !important;
}

.bottom77px {
   margin-bottom: 77px;
}

@media (max-width:983px){
   #trocar1 label{
      display: none;
   }
}

@media (max-width:1600px){
   #orgResultNotas {
      width: 290px;
   }
   #tituloBole {
      width: 272px;
   }
}