body {
    display: block;
}

h1 {
    text-align: left;
}

.noneMargin {
    margin-bottom: -20px;
}


.divArtigos1 {
    display: flex;
    padding: 15px;
    margin: 5px;
    width: auto;
    height: auto;
    border-radius: 15px;
}

.divArtigos1 p {
    text-align: left;
    width: 1000px;
}

.divArtigos1 img {
    width: 640px;
    height: 360px;
    border-style:double ;
    border-radius: 0%;
    margin-top: 35px;
    margin-left: 25px;
}

.divArtigos2 {
    display: flex;
    padding: 15px;
    margin: 5px;
    width: auto;
    height: auto;
    border-radius: 15px;
}

.divArtigos2 p {
    text-align: left;
    width: 1000px;
    margin-top: 70px;
}

.divArtigos2 img {
    width: 640px;
    height: 360px;
    border-style:double ;
    border-radius: 0%;
    margin-top: 10px;
    margin-left: 25px;
    border-color: orange;
}

.divArtigos3 {
    display: flex;
    padding: 15px;
    margin: 5px;
    width: auto;
    height: auto;
    border-radius: 15px;
}

.divArtigos3 p {
    text-align: left;
    width: 1000px;
    margin-top: 60px;
}

.divArtigos3 img {
    width: 640px;
    height: 360px;
    border-style:double ;
    border-radius: 0%;
    margin-top: 10px;
    margin-left: 25px;
    border-color: purple;
}