body {
    display: block;
}

h1 {
    text-align: left;
    color: rgb(230, 41, 182);
}

h2 {
    color:rgb(175, 82, 163);
    font-size: 30px;
    margin: 0px;
}

section {
    display: flex;
    width: 97%;
    height: auto;
    background-color: rgb(248, 192, 255);
    padding: 5px 45px 10px 15px;
    border-radius: 20px;
    margin-top: 25px;
}



.divArtigos {
    padding: 15px;
    height: auto;
    border-radius: 15px;
    width: 60%;
}

.divImagens img{
    width: 100%;
    border-style:double ;
    margin-left: 5%;
    border-radius: 10%;
}

.divImagens{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.divArtigos2 {
    padding: 15px;
    height: auto;
    border-radius: 15px;
    width: 60%;
}

.divImagens2 img {
    width: 100%;
    border-style:double ;
    margin-left: 5%;
    border-radius: 10%;
    border-color: orange;
}

.divImagens2 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.divArtigos3 {
    padding: 15px;
    height: auto;
    border-radius: 15px;
    width: 60%;
}

.divImagens3 img{
    width: 100%;
    border-style:double ;
    margin-left: 5%;
    border-radius: 10%;
    border-color: purple;
}

.divImagens3 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.divArtigos1 p {
    text-align: justify;
    
}
