body {
   font-size: 20px;
}

h2 {
   text-align: left;
   margin-left: 7px;
}

.footer-JL {
   position: fixed;
}

#aredesocial {
   width: auto;
   height: 300px;
   border-radius: 7%;
   float: left;
   margin-right: 30px;
   margin-bottom: 20px;
   margin-left: 20px;
}

#piratasdovale {
   width: auto;
   height: 300px;
   border-radius: 7%;
   float: left;
   margin-right: 30px;
   margin-bottom: 20px;
   margin-left: 20px;
}

#onepiece {
   height: 100%;
   width: 700px;
   float: left;
   margin-right: 35px;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 5px;
   border-style: double;
   border-radius: 6%;
}

#haikyu {
   height: 100%;
   width: 700px;
   float: left;
   margin-right: 35px;
   margin-top: 15px;
   margin-bottom: 20px;
   margin-left: 5px;
   border-style: double;
   border-radius: 5%;
}

#onepunchman {
   height: 100%;
   width: 700px;
   float: left;
   margin-right: 35px;
   margin-top: 30px;
   margin-bottom: 20px;
   margin-left: 5px;
   border-style: double;
   border-radius: 5%;
}

#trocar1 {
   margin-left: 17px;
   margin-right: 17px;
   width: 30%;
   padding: 6px;
}

#trocar1 button {
   border-radius: 4px;
}

#trocar1 .input-group-text {
   width: 45px;
   align-items: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

#trocar2 {
   margin-right: 17px;
   width: 70%;
}

html, body{
   height: 100vh;
}

.centerBole {
   width: 100%;
   height: 100vh;
   align-items: center;
   display: flex;
}

#orgBoletim {
   width: 100%;
   height: 800px;
}

.margin-top30px {
   margin-top: 30px;
}

.padding-top {
   padding-top: 70px !important;
}

.bottom77px {
   margin-bottom: 77px;
}