body {
    font-size: 20px;
}

h2 {
    text-align: left;
    margin-left: 100px;
}

 #aredesocial {
    width: auto;
    height: 300px;
    border-radius: 7%;
    float: left;
    margin-right: 15px;
 }

 #piratasdovale {
    width: auto;
    height: 300px;
    border-radius: 7%;
    float: left;
    margin-right: 15px;
 }
















 


