/* CSS 

NOSSA FOLHA DE ESTILIZAÇÃO DA PÁGINA HTML

*/

body {
    padding: 50px;
    background-color: rgb(220, 179, 240);
    text-align: left;

    display: flex;
}

button{
    padding: 25px;
    margin-top: 15px;
    border-radius: 20px;
    border-style:ridge ;
    font-size: 15px;
    background-color: rgb(238, 175, 227);
}

a {
    text-decoration: none;
    color: rgb(21, 2, 24);
}

p {
    color: rgb(134, 71, 143);
    font-size: 25px;
}

hr{
    border-color: rgb(201, 90, 155);
}

h1 {
    color: rgb(206, 90, 157);
    font-size: 45px;
}

.divMenor {
    width: 500px;
    height: 400px;
    text-align: center;
}

.divMaior {
    width: 750px;
    height: 400px;
    text-align: center;
}


.divLinks {
    width: 500px ;
    height: 400px;
    text-align: center;
}

.espacamentoEspecifico {
    margin-top: 90px;
}